body {
  background-color: black;
  color: white;
  font-family: Apple Chancery, cursive;
  overflow-y: scroll; /* always show scrollbar */
  overflow-x: clip;
}

h1, h2, ol, ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 1em;
}

/* Make title into a single column
 * and remove second login button
 * when screen is too smol */
@media only screen and (max-width: 1000px) {
  h1 {
    flex-direction: column;
  }

  h1 a + label {
    display: none;
  }
}

h3 {
  color: deeppink;
  width: fit-content;
  transform: rotate(-15deg);
  font-size: 170%;
  border: dotted;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  margin-bottom: 1em;
  justify-content: left;
  flex-basis: 50%;
}

h3 img {
  height: 2em;
  display: block;
}

ol {
  flex: 50%;
  justify-content: left;
}

ol, ul {
  padding: 2em;
  margin: 0;
}

ul {
  flex-direction: column;
}

div.columns {
  display: flex;
}

ol li {
  /*dimensions*/
  flex-basis: 40%;
  aspect-ratio: 1 / 1;
  flex-grow: 1;
}

li {
  /*star border*/
  border: 1em solid;
  border-image-source: url(media/9stars.gif);
  border-image-slice: 33.33%;
  border-image-repeat: round;
  /*inner elements*/
  display: inline-block;
  text-align: center;
}

ul li img {
  max-width: 50%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 0.5%;
  box-sizing: border-box;
}

/*button pictures*/
ol li img {
  box-sizing: border-box;
  max-width: 90%;
  height: 25%;
}
ol li img + img {
  padding: 1em;
  height: 75%;
}

a:hover, a > li:hover, label:hover {
  animation: tweak 0.2s infinite;
  cursor: pointer;
}

@keyframes tweak { 
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

ol a {
  display: contents;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.router-link-active {
  text-decoration: underline;
}

p, ul {
  margin-left: auto;
  margin-right: auto;
  font-size: 120%;
  max-width: 50em;
}

input[type=checkbox] {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label p {
  margin: 0;
  font-size: 60%;
}

label img {
  display: block;
  filter: grayscale(1);
  max-width: 90%;
}

input:is(:not(:checked):hover,:checked:not(:hover)) + img {
  filter: grayscale(0);
}
