.borderstar {
    margin: 20px;
    border: 25px solid transparent;
    padding: 10px;
    border-image-source: url(9stars.gif);
    border-image-slice: 33.33%;
    border-image-repeat: round;
}

.txt-in-btn {
    height: 25%;
    width: 100%;
}

.img-in-btn {
    height: 75%;
    width: 100%;
}

p {
    aspect-ratio: 1/1;
}